<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.8.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	<context:annotation-config/>
	<context:component-scan base-package="dao"/>
	<jee:jndi-lookup jndi-name="java:comp/env/refcursos" id="data"/>
	<!-- configuración para integración con JPA-Hibernate -->
	
	<!-- Creación adaptador JPA-Hibernate -->
	<bean id="adp"
		class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
		<property name="databasePlatform"
			value="org.hibernate.dialect.MySQLDialect">
		</property>
	</bean>
	
	<!-- Configuración JPA -->
	
	<bean id="factory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="cursosPU"></property>
		<property name="dataSource" ref="data"></property>
		<property name="jpaVendorAdapter" ref="adp"></property>
		<property name="packagesToScan" value="model"></property>
	</bean>
	
	<!-- creación del transaction manager -->
	
	<bean id="tm"
		class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="factory"></property>
	</bean>
	
	<!-- permitir aplicar objeto transactionmanager mediante anotaciones -->
	<tx:annotation-driven transaction-manager="tm"/>
	
	
</beans>
